<div id="mySidenav" class="mainsidenav" style="z-index:5000!important">
    <div style="position:absolute;left:10px;top:20px;width:100%">
        <a href="javascript:void(0)" style="float:right;padding:0px!important;margin:-25px 15px!important;font-size:25px;" onclick="closeNav()">&times;</a>
        <img id="imgPin" src="~/Content/Images/pin.svg?cid=11" style="float:right;padding:0px!important;margin:-13px 35px!important;width:16px;height:16px;cursor:pointer;" />
    </div>
    <div style="height:100%;width:97%;margin:10px;overflow-y:auto;">
        <div class="demo-container">
            <div class="form" id="divSideMenu">
                <div class="row">
                    <div class="col-lg-12" id="divMenu" style="display:block;margin-top:10px;">
                        <div id="myMenuContainer" style="padding-top:5px;">
                        </div>
                    </div>
                </div>                
            </div>
        </div>
    </div>
</div>


