
@{
    ViewBag.Title = "NotAuthorizedPage";
    Layout = "~/Views/Shared/_EmptyHeaderLayout.cshtml";
}
<link rel="stylesheet" href="~/Content/font-awesome/css/font-awesome.css" />

<center>
    <h2>You are not authorized to use this page, Please contact, contact person to get permission to access the page</h2>
</center>

