@{
    Layout = "~/Views/Shared/_LoginLayout.cshtml";
    ViewBag.Title = "Forgot Password Confirmation";
}

<style>
    .center {
        position: absolute;
        margin: auto;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        width: 300px;
        max-height: 190px;
        background-color: #ffffff;
        border-radius: 3px;
        border: 3px solid lightblue;
    }
</style>

<div class="row">
    <div class="col-md-3 center">
        <h3 class="m-b-20 text-center" style="font-family:Roboto">@ViewBag.Title</h3>
        <div>
            <p>Please check your email to reset your password.</p>
        </div>
    </div>
</div>

