@{ 
    Layout = "~/Views/Shared/_LoginLayout.cshtml";
}
@model REORGCHART.Models.ForgotPasswordViewModel

<style>
    .center {
        position: absolute;
        margin: auto;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        width: 300px;
        max-height: 220px;
        /*background-color: #ffffff;*/
        background: url('~/Content/Login/Images/login-bg.png') repeat;
        border-radius: 3px;
        border: 3px solid lightblue;
    }
</style>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="row">
        <div class="col-md-3 center">
            <h3 class="m-b-20 text-center" style="font-family:Roboto">Enter your email</h3>
            <div class="form-group m-b-20">
                <input class="form-control" id="Email" name="Email" placeholder="Email" type="text" value="" />
                @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
            </div>
            <div class="form-group m-b-20">
                <div>
                    <button type="submit" class="form-control form-submit btn btn-info">Email Link</button>
                </div>
            </div>
            <div class="form-group m-b-0">
                <div class="col-sm-12 text-center">
                    <div>
                        Login ? @Html.ActionLink("Sign In", "Login", "Account")
                    </div>
                </div>
            </div>
        </div>
    </div>
}


