
@{
    ViewBag.Title = "LogOff";
    Layout = "~/Views/Shared/_EmptyHeaderLayout.cshtml";
}
<center>
    <h2>Logged Off from this application</h2>
    <h4>To <a href="@ViewBag.URL" style="color:blue;">SignIn</a> again click on the link</h4>
</center>

